<!-- <router-outlet></router-outlet> -->
<header>

  <div class="narrow">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" [(ngModel)]="name" id="first_name" name="name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input name="lastName" [(ngModel)]="lastName" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="username" [(ngModel)]="username" id="text" type="text" class="validate">
            <label for="text">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" [(ngModel)]="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="password" [(ngModel)]="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" (click)="handleSignup()" type="submit" name="action">Submit
         
        </button>
        <!-- <button type="submit" (click)="handleSignup()">Signup</button>   -->
      </form>
     
    </div>
  </div>
</header>
